# numpy==1.19.3 # To avoid sanity bug on Windows 2004/H2
numpy
pandas
scikit-learn
keras
flask
labelImg
# labelme
jupyterlab
# tensorflow-object-detection-api
tensorflow-gpu>=2.3.0
Pillow
tf-models-official
jedi<0.18.0 # To avoid conflict with ipython (7.19 and 7.18)
imageio

torch
torchvision

jiwer
