<style>
    .field-name{
        margin: 0!important;
        padding: 0!important;
    }
    .begin{
        margin-left: 0px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12"><code style="margin-left: 12px;font-size:15px!important; margin-left: 20px;">Market name</code></div>
            <div class="col-md-12"><img id="market_name" width="200" height="40" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/></div>
            <label style="margin-top:10px!important;">Coop Quang Ngai</label>
        </div>
        <div class="col-md-4">
            <div class="col-md-12"><code style="margin-left: 12px;font-size:15px!important; margin-left: 20px;">Date</code></div>
            <div class="col-md-12"><img id="date" width="200" height="40" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/></div>
            <label style="margin-top:10px!important;">Ngay: 23/3/2020</label>
        </div>
        <div class="col-md-4">
            <div class="col-md-12"><code style="margin-left: 12px;font-size:15px!important; margin-left: 20px;">Bill code</code></div>
            <div class="col-md-12"><img id="bill_code" width="200" height="40" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/></div>
            <label style="margin-top:10px!important;">23949</label>
        </div>
    </div>
    <div class="row" style="margin-top:30px!important;" id="product-attr-board">
        <div class="col-md-12"><code style="margin-left: 12px;font-size:15px!important;">Product attributes</code></div>
        <!-- <div class="col-md-6">
            <div class="col-md-12">
                <img id="alignment" width="300" height="80" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/>
            </div>
            <div class="col-md-12">
                <code class="field-name begin">SKU:&nbsp;</code><label class="field-name">34982424242424</label><br/>
                <code class="field-name begin">product name:&nbsp;</code><label class="field-name">Downy thom lau hon</label><br/>
                <code class="field-name begin">quantity:&nbsp;</code><label class="field-name">2</label><br/>
                <code class="field-name begin">ppu:&nbsp;</code><label class="field-name">123,000.00</label><br/>
                <code class="field-name begin">discounted price:&nbsp;</code><label class="field-name">20.000.00</label><br/>
                <code class="field-name begin">total price:&nbsp;</code><label class="field-name">246,000.00</label><br/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <img id="alignment" width="300" height="80" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/>
            </div>
            <div class="col-md-12">
                <code class="field-name begin">SKU:&nbsp;</code><label class="field-name">34982424242424</label><br/>
                <code class="field-name begin">product name:&nbsp;</code><label class="field-name">Downy thom lau hon</label><br/>
                <code class="field-name begin">quantity:&nbsp;</code><label class="field-name">2</label><br/>
                <code class="field-name begin">ppu:&nbsp;</code><label class="field-name">123,000.00</label><br/>
                <code class="field-name begin">discounted price:&nbsp;</code><label class="field-name">20.000.00</label><br/>
                <code class="field-name begin">total price:&nbsp;</code><label class="field-name">246,000.00</label><br/>
            </div>
        </div> -->
        <!-- <div class="col-md-6">
            <div class="col-md-12">
                <img id="alignment" width="300" height="80" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/>
            </div>
            <div class="col-md-12">
                <code class="field-name begin">SKU:&nbsp;</code><label class="field-name">34982424242424</label><br/>
                <code class="field-name begin">product name:&nbsp;</code><label class="field-name">Downy thom lau hon</label><br/>
                <code class="field-name begin">quantity:&nbsp;</code><label class="field-name">2</label><br/>
                <code class="field-name begin">ppu:&nbsp;</code><label class="field-name">123,000.00</label><br/>
                <code class="field-name begin">discounted price:&nbsp;</code><label class="field-name">20.000.00</label><br/>
                <code class="field-name begin">total price:&nbsp;</code><label class="field-name">246,000.00</label><br/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <img id="alignment" width="300" height="80" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/>
            </div>
            <div class="col-md-12">
                <code class="field-name begin">SKU:&nbsp;</code><label class="field-name">34982424242424</label><br/>
                <code class="field-name begin">product name:&nbsp;</code><label class="field-name">Downy thom lau hon</label><br/>
                <code class="field-name begin">quantity:&nbsp;</code><label class="field-name">2</label><br/>
                <code class="field-name begin">ppu:&nbsp;</code><label class="field-name">123,000.00</label><br/>
                <code class="field-name begin">discounted price:&nbsp;</code><label class="field-name">20.000.00</label><br/>
                <code class="field-name begin">total price:&nbsp;</code><label class="field-name">246,000.00</label><br/>
            </div>
        </div> -->
        <!-- <div class="col-md-6">
            <div class="col-md-12">
                <img id="alignment" width="300" height="80" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/>
            </div>
            <div class="col-md-12">
                <code class="field-name begin">SKU:&nbsp;</code><label class="field-name">34982424242424</label><br/>
                <code class="field-name begin">product name:&nbsp;</code><label class="field-name">Downy thom lau hon</label><br/>
                <code class="field-name begin">quantity:&nbsp;</code><label class="field-name">2</label><br/>
                <code class="field-name begin">ppu:&nbsp;</code><label class="field-name">123,000.00</label><br/>
                <code class="field-name begin">discounted price:&nbsp;</code><label class="field-name">20.000.00</label><br/>
                <code class="field-name begin">total price:&nbsp;</code><label class="field-name">246,000.00</label><br/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <img id="alignment" width="300" height="80" src="static/images/default-placeholder.png" style="border-radius: 10px; margin-top: 10px;"/>
            </div>
            <div class="col-md-12">
                <code class="field-name begin">SKU:&nbsp;</code><label class="field-name">34982424242424</label><br/>
                <code class="field-name begin">product name:&nbsp;</code><label class="field-name">Downy thom lau hon</label><br/>
                <code class="field-name begin">quantity:&nbsp;</code><label class="field-name">2</label><br/>
                <code class="field-name begin">ppu:&nbsp;</code><label class="field-name">123,000.00</label><br/>
                <code class="field-name begin">discounted price:&nbsp;</code><label class="field-name">20.000.00</label><br/>
                <code class="field-name begin">total price:&nbsp;</code><label class="field-name">246,000.00</label><br/>
            </div>
        </div> -->
    </div>
</div>



